body {
  text-align: center;
  background-color: #eee8d0;
}
.photo {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 10px 5px 10px;
}
a {
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
